:root {

    /* paleta principal */
    --color-primary: #F85408;
    --color-primary-hover: #F8AE67; 

    --color-orange-dark: #C14400;

    --color-danger: #ED1C24;
    --color-danger-hover: #ED8383;

    --color-success: #25D366;
    --color-success-dark: #1DB954;

    /* cores de fundo */
    --color-bg-soft: #FFF0E0;
    --color-bg: #FFFFFF;

    /* cores de texto */
    --color-text-black: #000000;
    --color-text-carbon: #333333;
    --color-text-dark-grey:#808080; 
    --color-text-grey: #A7A8A6;
    --color-text-white: #F6F8F5;
    
    --color-text-peach: #FFF3E8;

    /* cores de borda */
    --color-border: #E5E5E5;

}