:root {

    /* paleta principal */
    --color-primary: #FF6A1C;
    --color-primary-hover: #E65A00;

    --color-accent: #FFA540;
    --color-accent-light: #FFB368; 

    --color-success: #25D366;
    --color-success-dark: #1DB954;

    /* cores de fundo */
    --color-bg-soft: #FFF0E0;
    --color-bg: #FFFFFF;

    /* cores de texto */
    --color-text: #000000;
    --color-text-muted: #333333;

    /* cores de borda */
    --color-border: #E5E5E5;

}