@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --font-base: 'Montserrant', sans-serif;

    /* tamanhos da fonte */
    --font-size-xs: 12px;   
    --font-size-sm: 14px;   
    --font-size-md: 16px;   
    --font-size-lg: 20px;   
    --font-size-xl: 24px;  
    --font-size-xxl: 32px;  
    --font-size-xxxl: 40px; 

    /* estilo de fonte */
    --font-weight-ultra-thin: 100;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

}