<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label class="text">Nome</label>
    <app-input size="lg" formControlName="name" placeholder="Digite seu nome" />
    @if(name?.invalid && (name?.dirty || name?.touched)) {
    <div class="error">
        @if(name?.errors?.['required']){
        <small>O nome é obrigatório.</small>
        }
        @if(name?.errors?.['minlength']){
        <small>O nome precisa ter pelo menos 3 caracteres.</small>
        }
    </div>
    }
    <label>Email</label>
    <app-input size="lg" formControlName="email" placeholder="Digite seu email" />
    @if(email?.invalid && (email?.dirty || email?.touched)) {
    <div class="error">
        @if(email?.errors?.['required']){
        <small>Email é obrigatório.</small>
        }
        @if(email?.errors?.['email']){
        <small>Email é inválido</small>
        }
    </div>
    }
    <label class="">Idade</label>
    <app-input size="lg" formControlName="age" placeholder="Digite sua idade" />
    @if(age?.invalid && (age?.dirty || age?.touched)) {
    <div class="error">
        @if(age?.errors?.['min']){
        <small>A idade mínima é de 18 anos.</small>
        }
        @if(age?.errors?.['max']){
        <small>É serio que você tem mais de 150 anos?</small>
        }
        @if(age?.errors?.['number']){
        <small>É serio que você tem mais de 150 anos?</small>
        }
    </div>
    }
    <app-button buttonStyle="primary" size="md" [disabled]="form.invalid || loading" (click)="onSubmit()">
        {{ userEdit ? 'Editar Usuário' : 'Criar Usuário' }}
    </app-button>
    <app-button buttonStyle="danger" size="md"> Cancelar </app-button>

</form>